/* STATISTICS CSS */
.statistics {
    background-image: url("media/images/alaska\(6\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 750px;
    filter: brightness(75%);
}

.statistics-container{
    display: flex;
    justify-content: space-evenly;
    transform: translateY(170%);
}

.statistic-1, .statistic-2, .statistic-3, .statistic-4{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 65px 25px;
    border-radius: 50%;
}

.statistics-number{
    font-size: 27px;
    color: #fdb915;
}

.statistics-description{
    color: white;
}